<html><head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head><body>
    <div class="text-capitalize">ciao</div>
    <button id="pussante" type="button" class="btn ml-5 btn-primary">
      Capocchia
    </button>
</body></html>