<html><head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head><body>
    <div class="text-capitalize">ciao</div>
    <div class="container"><button id="pussante-get" type="button" class="btn ml-5 btn-primary"> GET ALL </button></div>
    <div class="container">
      <span> ID: </span> <input id="input-get-id" type="text" class="form-control"/>
      <button id="pussante-get-id" type="button" class="btn ml-5 btn-primary"> GET BY ID </button>
    </div>
    <div class="container">
      <span> NAME: </span> <input id="input-get-name" type="text" class="form-control"/>
      <button id="pussante-get-name" type="button" class="btn ml-5 btn-primary"> GET BY NAME </button>
    </div>
    <div class="container">
      <span> NAME: </span> <input id="input-create" type="text" class="form-control"/>
      <button id="pussante-create" type="button" class="btn ml-5 btn-primary"> CREATE </button>
    </div>
    <div class="container">
      <span> ID: </span> <input id="input-update-id" type="text" class  ="form-control"/>
      <span> NAME: </span> <input id="input-update-name" type="text" class  ="form-control"/>
      <button id="pussante-update" type="button" class="btn ml-5 btn-primary"> UPDATE </button>
    </div>
    <div class="container">
      <span> ID: </span> <input id="input-delete" type="text" class="form-control"/>
      <button id="pussante-delete" type="button" class="btn ml-5 btn-primary"> DELETE </button>
    </div>
</body></html>